---
import "../styles/components/blogitem.scss";

interface Props {
    post: {
        slug: string,
        data: {
            title: string,
            description: string,
            pubDate: Date,
            heroImage?: string,
        }
    }
}

const { post } = Astro.props;
const data = post.data;
---
<div class="blog-item">
    <a href={`/blog/${post.slug}/`}>
        <div class="blog-item-grid">
            <div class="blog-item-date">
                <time class="day" datetime={data.pubDate.toISOString()}>
                    {
                    data.pubDate.toLocaleDateString('en-us', {day: 'numeric'})
                    }
                </time>
                <time class="monthyear" datetime={data.pubDate.toISOString()}>
                    {
                    data.pubDate.toLocaleDateString('en-us', {month: 'short', year: 'numeric'})
                    }
                </time>
            </div>
            <img src={data.heroImage} alt={data.title} />
            <div class="blog-item-title">
                <h3 class="title">{data.title}</h3>
                <span class="desc">{data.description}</span>
            </div>
        </div>
    </a>
</div>