---
interface Props {
    tag: string;
}

const { tag } = Astro.props;
const label = 'tag-' + tag.toLowerCase();
---

<gallery-tag id={label} data-toggle={false}>
    <span class="sr-only">{label}</span>
    <button aria-label={label}>
        {tag}
    </button>
</gallery-tag>

<script>
    import { getDataAttr, setDataAttr, setButtonIcon } from '../scripts/utils'
    import { ToggleEventType } from '../scripts/events'
    class GalleryTag extends HTMLElement {

        button : HTMLButtonElement | null;
        svg0: SVGSVGElement | null;
        svg1: SVGSVGElement | null;

        static observedAttributes = ["data-toggle"];

        constructor() {
            super();
            this.button = this.querySelector('button');
            let svgs = this.querySelectorAll('svg');
            this.svg0 = svgs[0];
            this.svg1 = svgs[1];
            let toggle = this.dataset.toggle != undefined;
            setButtonIcon(this.button, this.svg0, this.svg1, toggle, 'auto');
        }

        connectedCallback() {
            this.addEventListener('click', this.handleClick);
        }

        disconnectedCallback() {
            this.removeEventListener('click', this.handleClick);
        }

        attributeChangedCallback(name : string, oldValue : string | null, newValue : string | null) {
            if (name == "data-toggle") {

                let toggle = newValue != undefined;
                setButtonIcon(this.button, this.svg0, this.svg1, toggle, 'auto')
                
                // outer bar element should handle this event
                let eventType = (toggle) ? ToggleEventType.ON : ToggleEventType.OFF;
                this.dispatchEvent(new Event(eventType, {bubbles: true}));
            }
        }

        handleClick() {
            setDataAttr(this, 'toggle', !getDataAttr(this, 'toggle'))
        }
    }
    customElements.define('gallery-tag', GalleryTag);
</script>