---
import { Icon } from 'astro-icon/components'
import { getLabel } from '../scripts/utils';
import '../styles/components/navitem.scss'

interface Props {
  href: string;
  label?: string;
  isToggle?: boolean;
  isExpand?: boolean;
}

let { href, label = undefined, isToggle = false, isExpand = false } = Astro.props;

// Create capitalized label
if (label == undefined) {
    label = (href == "/") ? "Home" : getLabel(href);
}

const { pathname } = Astro.url;
const isCurrent = href === pathname.replace(/\/$/, '');
const ariaControls = label.toLowerCase() + '-items';

// get routes under href; workaround for Astro.glob string literal
let files = await Astro.glob("../**/index.astro");
let ffiles = files.filter(file => file.url?.includes(href));

let subitems = ffiles.map(file => (
    
    {href: file.url, 
     label: getLabel(file.url),
     isCurrent: file.url === pathname.replace(/\/$/, ''),
    }
));
---
<nav-item data-toggle={isToggle} 
          data-expand={isToggle ? isExpand : undefined}>
    <button aria-controls={isToggle ? ariaControls : undefined} 
            aria-expanded={isToggle ? "false" : undefined} 
            aria-label={label} 
            aria-current={isCurrent}>
        <a href={href}>
            {label}
        </a>
        <Icon name="arrow" />
    </button>
    {isToggle &&
    <div class="sub-items" id={ariaControls}>
        {subitems.map(s => (
            <nav-item>
                <button aria-label={s.label}
                        aria-current={s.isCurrent}>
                    <a href={s.href}>
                        {s.label}
                    </a>
                    <Icon name="arrow" />
                </button>
            </nav-item>
            ))
        }
    </div>
    }
</nav-item>

<script>
import { getDataAttr, setDataAttr, setBoolAttr } from '../scripts/utils';
import { $expand } from '../scripts/stores/expand';
import { ExpandEventType } from '../scripts/events';

    class NavItem extends HTMLElement {

        button : HTMLButtonElement | null;
        anchor : HTMLAnchorElement | null;
        label : string | undefined;
        mql : MediaQueryList;

        subitems : HTMLElement | null = null;
        enableAutoExpand: boolean = true;

        static observedAttributes = ["data-expand"];

        constructor() {
            super();
            this.button = this.querySelector('button');
            this.anchor = this.querySelector('a');
            this.label = this.button?.getAttribute('aria-label')?.toLowerCase();

            // get last expand state
            if (!this.enableAutoExpand) {
                let label = this.label ?? '';
                let expand = $expand.get()[label];
                this.setExpand(expand);
            }

            // set the media query breakpoint
            let nav = document.querySelector('nav');
            if (nav && getDataAttr(nav, 'gallery')) {
                this.mql = window.matchMedia("(min-width: 600px)");
            } else {
                this.mql = window.matchMedia("(min-width: 600px) and (max-width: 991px)");
            }
        }

        connectedCallback() {

            if (this.button) {
     
                // any button
                this.button.addEventListener('click', this.handleClick);

                // event listeners for the toggle button
                if (getDataAttr(this, "toggle")) {

                    this.button.addEventListener(ExpandEventType.ENABLE, this.handleAutoExpand);
                    this.button.addEventListener(ExpandEventType.DISABLE, this.handleAutoExpand);
                    this.button.addEventListener('mouseenter', this.handleEnterLeave);
                    this.button.addEventListener('mouseleave', this.handleEnterLeave);
                    this.button.addEventListener('focus', this.handleEnterLeave);
                    this.button.addEventListener('blur', this.handleEnterLeave);

                    // event listeners for sub items
                    this.subitems = this.querySelector('.sub-items');
                    this.subitems?.addEventListener('mouseleave', this.handleEnterLeave);
                    this.subitems?.addEventListener('blur', this.handleEnterLeave);

                    this.mql.addEventListener('change', this.handleMqlChange(this.button, this.mql));

                    // on page load, query the screen size
                    this.mql.dispatchEvent(new Event('change'));
                }
            }
        }

        disconnectedCallback () {

            if (this.button) {
     
                // any button
                this.button.removeEventListener('click', this.handleClick);

                // event listeners for the toggle button
                if (getDataAttr(this, "toggle")) {

                    this.button.removeEventListener(ExpandEventType.ENABLE, this.handleAutoExpand);
                    this.button.removeEventListener(ExpandEventType.DISABLE, this.handleAutoExpand);
                    this.button.removeEventListener('mouseenter', this.handleEnterLeave);
                    this.button.removeEventListener('mouseleave', this.handleEnterLeave);
                    this.button.removeEventListener('focus', this.handleEnterLeave);
                    this.button.removeEventListener('blur', this.handleEnterLeave);

                    // event listeners for sub items
                    this.subitems?.removeEventListener('mouseleave', this.handleEnterLeave);
                    this.subitems?.removeEventListener('blur', this.handleEnterLeave);

                    this.mql.removeEventListener('change', this.handleMqlChange(this.button, this.mql));
                }
            }
        }

        attributeChangedCallback(name : string, oldValue : string | null, newValue : string | null) {
            if (name == "data-expand") {
                setBoolAttr(this.button, "aria-expanded", newValue != undefined); // CSS controls the display state
            }
        }

        setExpand = (expand : boolean) => {
            if (getDataAttr(this, "toggle")) setDataAttr(this, "expand", expand);
        }

        handleClick = (evt : MouseEvent) => {

            if (getDataAttr(this, "toggle")) {

                // prevent href navigation / refresh
                evt.preventDefault();

                if (this.enableAutoExpand) {

                    // ignore store, set expand local state
                    let expand = getDataAttr(this, "expand");
                    this.setExpand(!expand);
                
                } else {

                    // use store
                    let label = this.label ?? '';
                    let expand = !$expand.get()[label];
                    $expand.setKey(label, expand);

                    // set attributes
                    this.setExpand(expand);
                }

            } else {              
                // not a toggle button, forward click event to anchor tag
                this.anchor?.click();
                this.setExpand(false);
            }
        }

        handleAutoExpand = (evt : Event) => {

            if (getDataAttr(this, "toggle")) {
                
                if (evt.type == ExpandEventType.ENABLE) {
                    this.enableAutoExpand = true;

                    // ignore store, set expand local state
                    this.setExpand(false);

                } else if (evt.type == ExpandEventType.DISABLE) {
                    this.enableAutoExpand = false;

                    // use store
                    let label = this.label ?? '';
                    let expand = $expand.get()[label];
                    
                    // set attributes
                    this.setExpand(expand);

                }
            } // do nothing if not a toggle button
        }

        handleEnterLeave = (evt : Event | MouseEvent) => {

            if (this.enableAutoExpand) {

                if (evt.type == 'mouseenter' || evt.type == 'focus') {
                    this.setExpand(true);

                } else if (evt.type == 'mouseleave' || evt.type == 'blur') {

                    // do nothing if the cursor is still hovering over items
                    if (evt instanceof MouseEvent && evt.relatedTarget instanceof Element) {
                        if (!(this.subitems?.contains(evt.relatedTarget))) {
                            this.setExpand(false);
                        }
                    }
                }
            }
        }

        // monitor the viewport size - dispatch custom event on reaching media query breakpoint
        handleMqlChange = (evtTarget : HTMLElement, mql : MediaQueryList) => {
            return function handleMqlChangeInner(evt : MediaQueryListEvent) {
                let newEvt : Event = (mql.matches) ? 
                                     new Event(ExpandEventType.ENABLE) : 
                                     new Event(ExpandEventType.DISABLE);
                evtTarget.dispatchEvent(newEvt);
            }
        }
    }
    customElements.define('nav-item', NavItem);
</script>