---
import PageLayout from './PageLayout.astro';
import '../styles/layouts/blogpost.scss'

import type { CollectionEntry } from 'astro:content';
import type { HeadingProps } from '../interface';

interface Props {
    url: string;
    headings: HeadingProps[],
    frontmatter: CollectionEntry<'blog'>['data'];
}

const { url, headings, frontmatter } = Astro.props;
---

<PageLayout url={url}, headings={headings}>
    <article>
        <div class="hero-image">
            {frontmatter.heroImage && <img src={frontmatter.heroImage} alt="" />}
            <div>
                <p class="caption">{frontmatter.heroImageCaption}</p>
            </div> 
        </div>
        <div class="prose">
            <div class="title-layout">
                <h1 class="title">{frontmatter.title}</h1>
                <div class="date">
                    <time datetime={frontmatter.pubDate.toISOString()}>
                        {
                            frontmatter.pubDate.toLocaleDateString('en-us', {
                                month: 'long',
                                day: 'numeric',
                                year: 'numeric',
                            })
                        }
                    </time>
                </div>
                <hr />
            </div>
            <slot />
        </div>
    </article>
</PageLayout>
