---
import BaseHead from '../components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION} from '../consts';

import '@fontsource/oxygen';
import '@fontsource/roboto';

import { getLabel } from '../scripts/utils';

let { pathname } = Astro.url;
const {frontmatter} = Astro.props;

console.log(frontmatter)

const header = getLabel(pathname);
const headerImgSrc = frontmatter?.headerImgSrc ?? '/freljord_splash.jpg';

---

<!doctype html>
<html lang="en"> <!--transition:animate="none">-->
	<head>
        <ViewTransitions />
		<BaseHead title={SITE_TITLE} 
                  description={SITE_DESCRIPTION}  
                  transition:persist/>
	</head>
	<body class="theme-dark">
        <NavBar />
        <div id="header-layout">
            <Header header={header} headerImgSrc={headerImgSrc} />
            <div id="main-layout">
                <main>
                    <slot />
                </main>
                <aside />
            </div>
            <Footer />
        </div>
    </body>
</html>

<style>
    /* MOBILE */
    #header-layout {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        margin-top: var(--nav-mobile-wh);
        height: calc(100vh - var(--nav-mobile-wh));
    }
    #main-layout {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
    }
    main {
        padding: 1em;
        min-width: min(100%, var(--main-min-width));
        max-width: min(100%, var(--main-max-width));
    }
    aside {
        display: none;
    }
    /* DESKTOP */
	@media (min-width: 768px) {
        #header-layout {
            padding-left: min(25%, var(--nav-desktop-width));
            margin-top: 0;
            height: 100vh;
        }
        main {
            padding: 2em;
        }
    }
    @media (min-width: 1440px) {
        #main-layout {
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
        main {
            justify-self: center;
        }
        aside {
            display: block;
            border: 1px solid black;
        }
    }
    
</style>
